<!DOCTYPE html>
<html lang="en">
<body>
<p>File uploaded with success</p>
<p>Part1:</p>
<p>
    {{initial['name']}},
    {{initial['city']}},
    {{initial['ip']}},
    {{initial['response']['upload_duration']}} sec,
    {{initial['response']['upload_time']}},
    {{initial['response']['download_url']}}
</p>

<p>Part2: </p>
{% for server in replication_order %}
<p>
    {{initial['name']}} ->
    {{replication_responses[server]['name']}},
    {{replication_responses[server]['city']}},
    {{replication_responses[server]['ip']}},
    {{replication_responses[server]['response']['upload_duration']}} sec,
    {{replication_responses[server]['response']['upload_time']}},
    {{replication_responses[server]['response']['download_url']}}
</p>

{% endfor %}

<button onclick="downloadWithBenchmark('{{ file_name }}')">Download file</button>
<p id="downloadTime"></p>
<script language="JavaScript" src="/static/download_button.js"></script>

</body>
</html>


