<!DOCTYPE html>
<html lang="en">
<body>
        <p>File uploaded with success</p>
        <p>Part1:</p>
        <p>{{vps_name_1}}, {{vps_city_1}}, {{vps_ip_1}}, {{upload_duration_1}} sec, {{upload_time_1}}, {{url_for_download_1}}</p>

        <p>Part2: </p>
        <p>{{vps_name_1}} -> {{vps_name_2}}, {{vps_city_2}}, {{vps_ip_2}}, {{upload_duration_2}} sec, {{upload_time_2}}, {{url_for_download_2}}</p>
        <p>{{vps_name_1}} -> {{vps_name_3}}, {{vps_city_3}}, {{vps_ip_3}}, {{upload_duration_3}} sec, {{upload_time_3}}, {{url_for_download_3}}</p>

        <button><a href="{{ url_for_user_download }}">Download file</a></button>

</body>
</html>


